@model IEnumerable<Lab2FIFA.Models.Entero>

@{
    ViewBag.Title = "IndexEntero";
}

<h2>IndexEntero</h2>

<p>
    @Html.ActionLink("Create New", "CrearPorArchivo")
</p>
@using (Html.BeginForm("IndexEntero", "Pais", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="submit" name="submitButton" value="PreOrden" />
    <input type="submit" name="submitButton" value="InOrden" />
    <input type="submit" name="submitButton" value="PostOrden" />
    <input type="submit" name="submitButton" value="Validacion" />
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>            
            @Html.ActionLink("Delete", "DeleteEntero", new { num=item.valor })
        </td>
    </tr>
}

</table>
